.inputLogin {
  width: 350px;
  height: 53px;
  border-radius: 17px;
  border-color: rgba(0, 0, 0, 0.355);
  margin-bottom: 10px;
}
.textLogin {
  color: #853ab6;
  font-size: 15px;
  font-weight:650;
  text-align: end;
}
