.heigthReg {
  height: 45px;
}

.backButton {
  position: absolute;
  top: 85px;
  left: 25px;
  padding: 10px;
  border-radius: 50px;
  color: white;
  background-color: red;
  font-size:medium;
  font-weight: 15px;
  border: none;
}

.backButton1 {
  position: absolute;
  top: 100px;
  left: 50px;
  padding: 15px;
  border-radius: 50px;
  color: white;
  background-color: red;
  font-size: large;
  font-weight: 20px;
  border: none;
}
